.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Fjalla One', sans-serif;

}



/* header styles */
.header {
  width: 100%;
  height: 10%;
  background: rgb(203, 203, 214);
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 13px rgb(0, 0, 0, 1);
}

.header-left {
  padding-left: 10%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  color: black;
}
.header-right {
  padding-right: 10%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-button {
  height: 100%;
  width: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button:hover {
  background: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
Link {
  text-decoration: none;
  width: auto;
  height: inherit;
}

Link:hover {
  color: white;
}



/* loading screen */
.loading-container {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
}

.obj {
  width: 15px;
  height: 10px;
  background: black;
  margin: 0 5px;
  border-radius: 10px;
  animation: loading .8s infinite;
}

.obj:nth-child(2) {
  animation-delay: .1s;
}
.obj:nth-child(3) {
  animation-delay: .2s;
}
.obj:nth-child(4) {
  animation-delay: .3s;
}
.obj:nth-child(5) {
  animation-delay: .4s;
}
.obj:nth-child(6) {
  animation-delay: .5s;
}
.obj:nth-child(7) {
  animation-delay: .6s;
}
.obj:nth-child(8) {
  animation-delay: .7s;
}

@keyframes loading {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 100px;
  }
}



/* button styles */
button {
  margin: 5px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  outline: none;
  box-shadow: 5px 5px 9px rgb(0, 0, 0, .6);
}
button:hover {
  cursor: pointer;
}
button:active {
  height: 65px;
}



/* body styles */
.body {
  background: #E9D8C8;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}