.halloween {
    width: 100%;
    height: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.giphy-embed {
    z-index: 1;
    height: 1000px;
    width: 1000px;
}


.title {
    width: 100%;
    height: 20%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.clock-days {
    width: 100%;
    height: 20%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.clock-hours {
    width: 100%;
    height: 20%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.clock-minutes {
    width: 100%;
    height: 20%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.clock-seconds {
    width: 100%;
    height: 20%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}